.pinyin {
    margin-top: -10px;
    font-size: 20px;
}
.cards{
    margin-top: 25px;
}
.conn{
    padding-top: 10px;
    font-size: 14px;

}
.meaning{
    text-align: right;
}
.top{
    display:flex;
}
.char{
    flex: 2;

}