.grid {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-right: 60px;
    margin-left: 30px;
    width: auto;
  }
  
  .grid-sizer,
  .grid-item {
    width: 25%; /* Adjust based on the number of columns */
  }
  
  .grid-item {
    padding-bottom: 10px;
    margin-bottom: -20px; /* gutter size */
    padding-left: 30px; /* gutter size */
  }
  @media (max-width: 992px) {
    .grid-sizer,
    .grid-item {
      width: 33.33%; /* 3 columns */
    }
  }
  
  /* Small screens (phones) */
  @media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 50%; /* 2 columns */
    }
  }
  
  /* Extra small screens (small phones) */
  @media (max-width: 576px) {
    .grid-sizer,
    .grid-item {
      width: 100%; /* 1 column */
    }
  }