.grid {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-right: 60px;
    margin-left: 30px;
    width: auto;
  }
  
  .grid-sizer,
  .grid-item {
    width: 25%; 
  }
  
  .grid-item {
    padding-bottom: 10px;
    margin-bottom: -20px; 
    padding-left: 30px; 
  }
  @media (max-width: 992px) {
    .grid-sizer,
    .grid-item {
      width: 33.33%; 
    }
  }
  

  @media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 50%; 
    }
  }
  

  @media (max-width: 576px) {
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
  }