<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>PinyImage</title>
    <style>
    </style>
</head>
<body>
    <h1>Input a Character</h1>
    <form action="" method="post">
        <label for="user_input">Input here</label>
        <input type="text" id="user_input" name="user_input" required>
        <button name="Submit">Submit</button>
    </form> 
    <h2>
        {% if result %}
            <p id="result">{{ result }}</p>
        {% endif %}
        {% if connections %}
            <p id="connections">{{ connections }}</p>
        {% endif %}

    </h2>

    <p class="desc">
        To aid the speed and ease in memorizing anything, making as many unique connections in your mind is essential. Especially wiht a language like Chinese, where one can encounter hundreds of distinct characters in a single conversation that must me understood to accurately respond, being able to retrieve the meaning of the character from its appearance or sounds is paramount to becoming a conversational speaker. This tool helps to provide ideas for locking characters in memory using quick and easy association suggestions. 
    </p>
</body>
</html>